.main {
	color: var(--text-color);
	z-index: 1;
	position: fixed;
	height: 100%;
	width: 100%;
	min-height: 100vh;
	min-width: 100vh;
}

.popover {
	position: absolute;
	color: var(--text-color);
	z-index: 2;
}

.canvas {
	z-index: 0;
	position: absolute;
	color: var(--text-color);
	min-height: 100vh;
	min-width: 100vh;
	background: var(--bg-color);
	background-image: radial-gradient(circle at center, var(--dot-color) 3%, transparent 0);
	background-size: 20px 20px;
	background-position: -1px -1px;
}

.hidden {
	display: none;
}